* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  background-color: rgb(45, 45, 45);
  width: 20%;
  height: 100%;
}

.tab>h1{
  margin: 50px 0 16px 16px;
  font-weight: normal;
  font-size: x-large;
}

div.main{
  padding-top: 6vh;
}

div.main .job{
  font-style: italic;
  font-size: 110%;
  padding-bottom: 5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  font-family: inherit;
  color: rgb(104, 141, 202);
  padding: 15px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button::before{
  content: "> ";
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-shadow: rgb(104, 141, 202) 0 0 2px;
}

/* Create an active/current "tab button" class */
.tab button.active {

  background-color: rgb(30, 30, 30);
  color: rgb(114, 155, 222);
  box-shadow: 0 0 10px 4px rgb(20, 20, 20);
  position: relative;

}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0 12px;
  width: 80%;
  border-left: none;
  height: calc(100% - 0.5vh);
  overflow-x: hidden;
  overflow-y: auto;
}

.indented>p{
  width: 90%;
  padding: 2px 0 2px 49px;
}

.indented>*{
  padding-left: 49px;
  border-left: 1px solid rgb(50, 52, 56);
  width: 100%;
}


